<%= form_for :student, url: student_update_path(@student), action: :update, method: :patch  do |form| %>
  
  <div class="field">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
  <% if @student.name.nil? %>
  <%= form.text_field :email, placeholder: "Email" %>
  <% else %>
  <%= f.text_field :name, value: @student.name %>
  <% end %>
  </div>

  <div class="field">
    <%= form.text_field :mobile_phone, placeholder: "Mobile phone"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

