<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="student_info" >
    <h1>Student info </h1>

  <% if current_student.name.nil? %>
  <%= form.text_field :name, placeholder: "Name" %>
  <% else %>
  <%= form.text_field :name, value: current_student.name %>
  <% end %><br>
  
  <% if current_student.email.nil? %>
  <%= form.text_field :email, placeholder: "Email" %>
  <% else %>
  <%= form.text_field :email, value: current_student.email %>
  <% end %><br>
  
  <% if current_student.mobile_phone.nil? %>
  <%= form.text_field :mobile_phone, placeholder: "Mobile phone" %>
  <% else %>
  <%= form.text_field :mobile_phone, value: current_student.mobile_phone %>
  <% end %><br>
  

 <%= form.collection_select :programme_id, @programmes, :id, :name %><br>


 <%= form.collection_radio_buttons :contact_language_id, @contact_language, :id, :name, { checked: @contact_language.second.id }%><br>

 <%= form.collection_radio_buttons :internship_type_id, @internship_type, :id, :name, { checked: @internship_type.first.id }%><br>

  </div>

<div id="company">
<h1>Company</h1>

    <%= fields_for :company do |f| %>
    
    <%= f.text_field :name, placeholder: "Name" %><br>
    <%= f.text_field :cvr, placeholder: "CVR" %><br>
    <%= f.hidden_field :industry_id, :value => 1  %>
    <%= f.text_field :employees_number, placeholder: "Number of employees" %><br>
    <%= f.text_field :company_address, placeholder: "Company address" %><br>
    <%= f.text_field :zip_code, placeholder: "Zip code" %><br>
    <%= f.text_field :city, placeholder: "City" %><br>
    <%= f.text_field :country, placeholder: "Country" %><br>
    <%= f.text_field :website, placeholder: "Website" %><br>
    <%= f.text_field :internship_address, placeholder: "Internship address" %><br>
    <% end %> 

</div>

<div id="contact_user">
<h1>Contact company user</h1>

    <%= fields_for :contact_company_user do |f| %><br>
    <%= f.text_field :name, placeholder: "Name" %><br>
    <%= f.text_field :job, placeholder: "Job" %><br>
    <%= f.text_field :email, placeholder: "Email" %><br>
    <%= f.text_field :phone, placeholder: "Mobile phone" %><br>
  <% end %> 

</div>

<div id="internship_agreement">
<h1>Internship agreement</h1>
    <%= fields_for :internship_agreement do |f| %><br>
    <%= f.date_select :start_date, placeholder: "Start date" %><br>
    <%= f.date_select :end_date, placeholder: "End date" %><br>
    <%= f.text_field :weekly_working_hours, placeholder: "Weekly hours per week" %><br>
    <%= f.text_field :work_tasks, placeholder: "Work tasks agreed" %><br>
    <%= f.text_field :learning_goals, placeholder: "Learning goals" %><br>
    <%= f.text_field :other_comments, placeholder: "Other comments " %><br>
  <% end %> 

</div>

 <div class="field">
    <%= form.hidden_field :teacher_id, :value => 1  %>
  </div>

  <div class="field">
    <%= form.hidden_field :student_id, :value => current_student.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
