
<div class="tab contact-btn" >
  <button class="tablinks active" onclick="openContract(event, 'student')">Student info</button>
  <button class="tablinks" onclick="openContract(event, 'company')">Company</button>
  <button class="tablinks" onclick="openContract(event, 'contact')">Company contact user</button>
  <button class="tablinks" onclick="openContract(event, 'agreement')">Internship agreement</button>
</div>

<div id="new-contract">

<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="student" class="tabcontent" style="display:block">  

<table>
<tr class="cl-title">
  <th>Name</th>
  <th>Email</th>
  <th>Mobile phone</th>
  <th>Study programme</th>
  <th>Internship type</th>
</tr>

<tr>
  <% if current_student.name.nil? %>
  <td><%= form.text_field :name, placeholder: "Name" %></td>
  <% else %>
  <td><%= form.text_field :name, value: current_student.name %></td>
  <% end %>



  <% if current_student.email.nil? %>
  <td><%= form.text_field :email, placeholder: "Email" %></td>
  <% else %>
  <td><%= form.text_field :email, value: current_student.email %></td>
  <% end %>


  <% if current_student.mobile_phone.nil? %>
  <td><%= form.text_field :mobile_phone, placeholder: "Mobile phone" %></td>
  <% else %>
  <td><%= form.text_field :mobile_phone, value: current_student.mobile_phone %></td>
  <% end %>

  

  <td><%= form.text_field :programme_id, value: current_student.programme.name, disabled:true %></td>


  <%#= form.collection_select(:programme_id, @programmes, :id, :name, :selected => params[:id]) %>


  <td><%= form.collection_select(:internship_type_id, @internship_type, :id, :name, :selected => params[:id]) %></td>
</tr>

</table>

</div>

<div id="company" class="tabcontent">
  
  <%= form.collection_select(:company_id, @company, :id, :name, :selected => params[:id]) %>

</div>

<div id="contact" class="tabcontent">

<table>
<tr class="cl-title">
  <th>Name</th>
  <th>Job</th>
  <th>Email</th>
  <th>Mobile phone</th>
</tr>



<tr>
    <%= fields_for :contact_company_user do |f| %>
   <td> <%= f.text_field :name, placeholder: "Name" %></td>
   <td> <%= f.text_field :job, placeholder: "Job" %></td>
   <td> <%= f.text_field :email, placeholder: "Email" %></td>
   <td> <%= f.text_field :phone, placeholder: "Mobile phone" %></td>
  <% end %> 
</tr>
</table>
</div>

<div id="agreement" class="tabcontent">
<table>
<tr class="cl-title">
  <th>Start date</th>
  <th>End date</th>
  <th>Weekly working hours</th>
  <th>Work tasks agreed</th>
  <th>Learning goals</th>
  <th>Other comments</th>

</tr>

<tr>
    <%= fields_for :internship_agreement do |f| %>
    <td><%= f.date_select :start_date, placeholder: "Start date" %></td>
    <td><%= f.date_select :end_date, placeholder: "End date" %></td>
    <td><%= f.text_field :weekly_working_hours, placeholder: "Weekly hours per week" %></td>
    <td><%= f.text_field :work_tasks, placeholder: "Work tasks agreed" %></td>
    <td><%= f.text_field :learning_goals, placeholder: "Learning goals" %></td>
    <td><%= f.text_field :other_comments, placeholder: "Other comments " %></td>
  <% end %> 
</tr>
</table>
</div>

 <div class="field">
    <%= form.hidden_field :teacher_id, :value => current_student.teacher_id  %>
  </div>

  <div class="field">
    <%= form.hidden_field :student_id, :value => current_student.id %>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>


<script>
function openContract(evt, category) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(category).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>