<%#= @contract_student.inspect %>

<div class="st-heading">
<h1>Contract</h1>
</div>

<div class="tab contact-btn" >
  <button class="tablinks active" onclick="openCat(event, 'About')">Tell us about you</button>
  <button class="tablinks" onclick="openCat(event, 'Company')">Company</button>
  <button class="tablinks" onclick="openCat(event, 'Person')">Contact person</button>
  <button class="tablinks" onclick="openCat(event, 'Agreement')">Internship agreement</button>
</div>

<div id="my-contract">
<% if @contract_student.nil? || @contract_student.company_id.nil? %>
    <% if teacher_signed_in? %>
<p>The student has not completed the contract</p>
    <% else student_signed_in? %>
<p>You have not created a contract yet</p>
<% end %>
<%else %>

<div id="About" class="tabcontent" style="display:block">  

    <table>
    <tr class="cl-title">
        <th>Name</th>
        <th>Email</th>
        <th>Programme</th>
    </tr>

    <tr>
    <td><%= @contract_student.student.name %></td>
    <td><%= @contract_student.student.email %></td>
    <td style="text-transform:capitalize"><%= @contract_student.student.programme.name %></td>
    </tr>
   
    </table>

    <table>
    <tr class="cl-title">
        <th>Mobile phone</th>
        <th>Internship type</th>
    </tr>
    <tr>
    <td><%= @contract_student.student.mobile_phone %></td>
    <td><%= @contract_student.internship_type.name %></td>

    </tr>
    </table>
</div>



<div id="Company" class="tabcontent">  
    <table>
    <tr class="cl-title">
        <th>Name</th>
        <th>CVR</th>
        <th>Number of employees</th>
        <th>Website</th>

    </tr>
    <tr>
    <td><%= @contract_student.company.name %></td>
    <td><%= @contract_student.company.cvr %></td>
    <td><%= @contract_student.company.employees_number %></td>
    </tr>
    </table>

    <table>
    <tr class="cl-title">
        <th>Company address</th>
        <th>ZIP code</th>
        <th>City</th>
        <th>Country</th>
        <th>Internship Address (if different from the one above)</th>

    </tr>
    <tr>
    <td><%= @contract_student.company.company_address %></td>
    <td><%= @contract_student.company.zip_code %></td>
    <td><%= @contract_student.company.city %></td>
    <td><%= @contract_student.company.country %></td>
    <td><%= @contract_student.company.internship_address %></td>

    </tr>
    </table>
</div>



<div id="Person" class="tabcontent">  
    <table>
    <tr class="cl-title">
        <th>Name</th>
        <th>Job</th>
        <th>Email</th>
        <th>Mobile phone</th>

    </tr>

    <tr>
    <td><%= @contract_student.contact_company_user.name %></td>
    <td><%= @contract_student.contact_company_user.job %></td>
    <td><%= @contract_student.contact_company_user.email %></td>
    <td><%= @contract_student.contact_company_user.phone %></td>

    </tr>
    </table>
</div>

<div id="Agreement" class="tabcontent">  
    <table>
    <tr class="cl-title">
        <th>Start date</th>
        <th>End date </th>
        <th>Weekly hours per week</th>
    </tr>

    <tr>
    <td><%= @contract_student.internship_agreement.start_date %></td>
    <td><%= @contract_student.internship_agreement.end_date %></td>
    <td><%= @contract_student.internship_agreement.weekly_working_hours %></td>
    </tr>
    </table>

     <table>
    <tr class="cl-title">
        <th>Work tasks agreed</th>
        <th>Learning goals </th>
        <th>Other comments</th>
    </tr>

    <tr>
    <td><%= @contract_student.internship_agreement.work_tasks %></td>
    <td><%= @contract_student.internship_agreement.learning_goals %></td>
    <td><%= @contract_student.internship_agreement.other_comments %></td>
    </tr>
    </table>
<% end %>
</div>

</div>
<% if student_signed_in? && current_student.company.nil? %>
<%= link_to "Create new contract", new_contract_path, class:"contract", class:"btn"%>
<% end %>
<% if student_signed_in? && current_student.company.present?%>
<%= link_to "Contract acceptance status",  acceptance_path, class:"acc-btn" %>

<% end %>

<% if teacher_signed_in? && @contract_student.present? %>
<%= link_to "Contract acceptance status",  contract_acceptance_index_path(@contract_student), class:"acc-btn" %>
<% elsif company_user_signed_in? %>
<%= link_to "Contract acceptance status",  contract_acceptance_index_path(@contract_student), class:"acc-btn" %>
<% end %>
<script>
function openCat(evt, catName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(catName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>