
<h1>Contracts</h1>

<%#= link_to 'Back', contracts_path %>

<div class="about">
    <h1>Tell us about you</h1>
    <table>
    <tr class="cl-title">
        <th>Name</th>
        <th>Email</th>
        <th>Programme</th>
    </tr>
    <tr>
    <td><%= @contract_student.student.name %></td>
    <td><%= @contract_student.student.email %></td>
    <td style="text-transform:capitalize"><%= @contract_student.student.programme.name %></td>
    </tr>
    </table>

    <table>
    <tr class="cl-title">
        <th>Contact language</th>
        <th>Mobile phone</th>
        <th>Internship type</th>
    </tr>
    <tr>
    <td><%= @contract_student.contact_language.name %></td>
    <td><%= @contract_student.student.mobile_phone %></td>
    </tr>
    </table>
</div>


<div class="company">
    <h1>Company</h1>
    <table>
    <tr class="cl-title">
        <th>Name</th>
        <th>CVR</th>
        <th>Number of employees</th>
        <th>Website</th>

    </tr>
    <tr>
    <td><%= @contract_student.company.name %></td>
    <td><%= @contract_student.company.cvr %></td>
    <td><%= @contract_student.company.employees_number %></td>
    </tr>
    </table>

    <table>
    <tr class="cl-title">
        <th>Company address</th>
        <th>ZIP code</th>
        <th>City</th>
        <th>Country</th>
        <th>Internship Address (if different from the one above)</th>

    </tr>
    <tr>
    <td><%= @contract_student.company.company_address %></td>
    <td><%= @contract_student.company.zip_code %></td>
    <td><%= @contract_student.company.city %></td>
    <td><%= @contract_student.company.country %></td>
    <td><%= @contract_student.company.internship_address %></td>

    </tr>
    </table>
</div>



<div class="company_contact">
    <h1>Company contact person</h1>

    <table>
    <tr class="cl-title">
        <th>Name</th>
        <th>Job</th>
        <th>Email</th>
        <th>Mobile phone</th>

    </tr>

    <tr>
    <td><%= @contract_student.contact_company_user.name %></td>
    <td><%= @contract_student.contact_company_user.job %></td>
    <td><%= @contract_student.contact_company_user.email %></td>
    <td><%= @contract_student.contact_company_user.phone %></td>

    </tr>
    </table>
</div>

<div class="internship_agreement">
    <h1>Internship agreement</h1>

    <table>
    <tr class="cl-title">
        <th>Start date</th>
        <th>End date </th>
        <th>Weekly hours per week</th>
            
    </tr>

    <tr>
    <td><%= @contract_student.company.position.name %></td>
    <td><%= @contract_student.internship_agreement.start_date %></td>
    <td><%= @contract_student.internship_agreement.end_date %></td>
    <td><%= @contract_student.internship_agreement.weekly_working_hours %></td>
    </tr>
    </table>

     <table>
    <tr class="cl-title">
        <th>Work tasks agreed</th>
        <th>Learning goals </th>
        <th>Other comments</th>
    </tr>

    <tr>
    <td><%= @contract_student.internship_agreement.work_tasks %></td>
    <td><%= @contract_student.internship_agreement.learning_goals %></td>
    <td><%= @contract_student.internship_agreement.other_comments %></td>

    </tr>
    </table>


</div>