<%#= @position.inspect %>
<div class="st-heading">
<h1>Students list</h1>
<!--<h3>Tip: use the filters to make your search faster and easier </h3>-->
</div>

<div id="students-list">
<table>
  <tr class="cl-title">
    <th>Name</th>
    <th>Email</th>
    <th>Study programme</th>
    <th>Internship company</th>
    <th>Internship position</th>
    <th>Meetings</th>
  </tr>

<% if @students.empty? %>
<!--<p> You have no students assigned yet </p>-->
<% else %>
<% @students.each do |student| %>
    <tr>
     <% if student.name.nil? %>
         <td> - </td>
        <% else %>
        <td class="st-name"><%= link_to student.name, student %> </td>
        <% end %>

        <td> <%= student.email %></td>

        <% if student.programme_id.nil? %>
         <td> - </td>
        <% else %>
          <td> <%= student.programme.name %></td>
        <% end %>
       
          <% if student.company.nil? %>
         <td> - </td>
        <% else %>
          <td> <%= student.company.name %></td>
        <% end %>

    <%# @position.each do |p| %>
          <%# if p.position.name.empty? %>
           <!-- <td> - </td>-->
          <%# else %>
            <td> <%#= p.company.position.name %> </td>
          <%# end %>
        <%# end %> 
<!--
        <%# if student.position_id.nil? %>
          <td> - </td>
        <%# else %>
          <td> <%#= student.position_id %></td>
        <%# end %>
-->
        <% if student.event.nil? %>
          <td> not meetings yet </td>
        <% else %>
         <td> <%= student.event.ids.count %></td>
        <% end %>

        
    </tr>
    <% end %>
</table>
<% end %>
</div>