<header>
    <% if current_student || current_teacher || current_company_user%>

    <%#= link_to "Back", root_path %>
    
    <button id="hamburger" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button> 

    <nav aria-role="navigation">
        <ul>
            <li>
                <span>01</span>
                <h1>
                <% if student_signed_in? %>
                    <%= link_to "Dashboard", student_dashboard_path %>
                <% elsif teacher_signed_in? %>
                    <%= link_to "Students Dashboard", students_path %>
                <% else company_user_signed_in? %>
                    <%#= link_to "Project timeline", project_timeline_path(@project_timeline) %>
                <% end %>
                </h1>
            </li>
            <li>
                <span>02</span>
                <h1>
                 <% if student_signed_in? %>
                    <%= link_to "My internship coach", internship_coaches_path %>
                <% elsif company_user_signed_in? %>
                    <%= link_to "Interns", students_path %>
                <% else teacher_signed_in?%> 
                    <%= link_to "Calendar", events_path %>
                <% end %>
                </h1>
            </li>
            <li>    
                <span>03</span>
                <h1>
                <% if student_signed_in? %>
                    <%= link_to "Contract", student_contracts_path(current_student) %>
                <% elsif company_user_signed_in? %>
                    <%= link_to "My profile", my_profile_index_path %>
                <%# else teacher_signed_in?%> 
                    <%#= link_to "Chat", chats_path %>
                <% end %>
                </h1>
            </li>
            
            <% if student_signed_in? || teacher_signed_in? %>
            <li>
                <span>04</span>
                <h1>
                    <%= link_to "Companies list", companies_path %>
                </h1>
            </li>
            <% end %> 

             <li>
                <span>05</span>
                <h1> 
                    <% if student_signed_in? %>
                    <%= link_to "My profile", my_profile_index_path %>
                    <% elsif teacher_signed_in? %>
                    <%= link_to "My profile", teacher_path(current_teacher) %>
                    <% else company_user_signed_in?%> 
                    <%= link_to "Company profile", company_profile_index_path %>
            <% end %>

                </h1>

            </li>
            
            <br>

            <li class="logout">
                <% if teacher_signed_in? %>
                <%= link_to destroy_teacher_session_path, method: :delete do %>
                                    Log out

                <% end %>
                <% elsif student_signed_in? %>
                <%= link_to destroy_student_session_path, method: :delete do %>
                                    Log out

                <% end %>

                <% else company_user_signed_in? %>
                <%= link_to destroy_company_user_session_path, method: :delete do %>
                                    Log out

                <% end %>

                <%end%>
            </li>
        </ul>
    </nav>
    <% end %>
</header>
