<header>
    <% if current_student || current_teacher || current_company_user%>

    <%#= link_to "Back", root_path %>
    
    <button id="hamburger" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button> 


<% if student_signed_in? %>

    <nav aria-role="navigation">
        <ul>
            <li>
                <span>01</span>
                <h1>
               
                    <%= link_to "Dashboard", student_dashboard_path %>
               
                </h1>
            </li>
            <li>
                <span>02</span>
                <h1>
                    <%= link_to "My internship coach", internship_coaches_path %>
                
                </h1>
            </li>
            <li>    
                <span>03</span>
                <h1>
                    <%= link_to "Contract", student_contracts_path(current_student) %>
               
                </h1>
            </li>
            
            <% if student_signed_in? || teacher_signed_in? %>
            <li>
                <span>04</span>
                <h1>
                    <%= link_to "Companies list", companies_path %>
                </h1>
            </li>
            <% end %> 

             <li>
                <span>05</span>
                <h1> 
                   
                    <%= link_to "My profile", my_profile_index_path %>
            

                </h1>

            </li>
            
            <br>

            <li class="logout">
                <%= link_to destroy_student_session_path, method: :delete do %>
                Log out
                <%end%>
            </li>
        </ul>
    </nav>
<% end %>


<% if teacher_signed_in? %>

    <nav aria-role="navigation">
        <ul>
            <li>
                <span>01</span>
                <h1>
                 <%= link_to "Students Dashboard", students_path %>
                </h1>
            </li>
            <li>
                <span>02</span>
                <h1>
                    <%= link_to "Calendar", events_path %>
                </h1>
            </li>
            <li>    
                <span>03</span>
                <h1>
                    <%= link_to "Companies list", companies_path %>
                </h1>
            </li>
            
            <li>
                <span>04</span>
                <h1>
                <%= link_to "My profile", teacher_path(current_teacher) %>

                </h1>
            </li>

            
            
            <br>

            <li class="logout">
                <%= link_to destroy_teacher_session_path, method: :delete do %>
                                    Log out

                <% end %>
                
            </li>
        </ul>
    </nav>

<% end %>

<% if company_user_signed_in? %>

    <nav aria-role="navigation">
        <ul>
            <li>
                <span>01</span>
                <h1>
                  <%#= link_to "Project timeline", project_timeline_path(@project_timeline) %>
                </h1>
            </li>
            <li>
                <span>02</span>
                <h1>
                     <%= link_to "Interns", students_path %>
               
                </h1>
            </li>
            <li>    
                <span>03</span>
                <h1>
                
                    <%= link_to "My profile", my_profile_index_path %>
                
                </h1>
            </li>
            
    

             <li>
                <span>04</span>
                <h1> 
                   
                    <%= link_to "Company profile", company_profile_index_path %>

                </h1>

            </li>
            
            <br>

            <li class="logout">
               
                <%= link_to destroy_company_user_session_path, method: :delete do %>
                                    Log out


                <%end%> 
            </li>
        </ul>
    </nav>

<% end %>



    <% end %>
</header>
