<%= form_for :student, url: my_profile_path(@student), action: :update, method: :patch  do |form| %>
  
  <%if current_student.name.nil? %>
  <%= form.text_field :name, placeholder: "Name" %>
  <% else %>
  <%= form.text_field :name, value: current_student.name %>
  <% end %><br>

 <% if current_student.email.nil? %>
  <%= form.text_field :email, placeholder: "Email" %>
  <% else %>
  <%= form.text_field :email, value: current_student.email %>
  <% end %><br>

  
  <% if current_student.mobile_phone.nil? %>
  <%= form.text_field :mobile_phone, placeholder: "Mobile phone" %>
  <% else %>
  <%= form.text_field :mobile_phone, value: current_student.mobile_phone %>
  <% end %><br>

  
  <% if current_student.education.nil? %>
  <%= form.text_field :education, placeholder: "Education" %>
  <% else %>
  <%= form.text_field :education, value: current_student.education %>
  <% end %><br>

  <% if current_student.work_experience.nil? %>
  <%= form.text_field :work_experience, placeholder: "Work experience" %>
  <% else %>
  <%= form.text_field :work_experience, value: current_student.work_experience %>
  <% end %><br>
  

  <% if current_student.volunteer_experience.nil? %>
  <%= form.text_field :volunteer_experience, placeholder: "Volunteer experience" %>
  <% else %>
  <%= form.text_field :volunteer_experience, value: current_student.volunteer_experience %>
  <% end %><br>

  <% if current_student.hard_skills.nil? %>
  <%= form.text_field :hard_skills, placeholder: "Hard skills" %>
  <% else %>
  <%= form.text_field :hard_skills, value: current_student.hard_skills %>
  <% end %><br>


  <% if current_student.soft_skills.nil? %>
  <%= form.text_field :soft_skills, placeholder: "Soft skills" %>
  <% else %>
  <%= form.text_field :soft_skills, value: current_student.soft_skills %>
  <% end %><br>


 
  <% if current_student.interests.nil? %>
  <%= form.text_field :interests, placeholder: "Interests" %>
  <% else %>
  <%= form.text_field :interests, value: current_student.interests %>
  <% end %><br>

  <% if current_student.avatar.nil? %>
  <%= form.label :name, 'Profile picture' %>
  <%= form.file_field :avatar%>
  <% else %>
  <%= form.label :name, 'Profile picture' %>
  <%= image_tag current_student.avatar.url(:medium) %>
  <%= form.file_field :avatar %>
  <% end %><br>


   <div class="field">
    <%= form.label :name, 'Resume' %>
    <%= form.file_field :cv%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
        