<%#= current_teacher.inspect %>
<div class="container clearfix">

<div class="people-list" id="people-list">
      
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>

    <ul class="list">
        <% @students.each do |st| %>
        <li class="clearfix">
        <div class="about">
            <div class="name"><%= st.email%></div>
        </div>
        </li>
        <% end %> 
    </ul>
</div>

<div class="chat">
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_10.jpg" alt="avatar" />
        <div class="chat-about">
          <div class="chat-with">Chat with <%= @stud_chat.name %></div>
          <div class="chat-num-messages">already 1 902 messages</div>
        </div>
        <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->
    
<div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" ><%= current_teacher.name%> </span> <i class="fa fa-circle me"></i>
              
         
            <div class="message other-message float-right">
                         Are we meeting today? Project has been already finished and I have results to show you.

            </div>

          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> <%= @stud_chat.name%></span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Are we meeting today? Project has been already finished and I have results to show you.
            </div>
          </li>
          
        </ul>
        
    </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">

        <%= form_with(model: @chat, remote: true) do |form| %>
        <%= form.text_field :message, id: :message, name: "message-to-send", placeholder: "Type your message" , required: true%>
        <%= form.hidden_field :teacher_id, :value => current_teacher.id %>
         <div class="actions">
         <%= form.submit %>
        </div>
      <% end %>
    
      <!--  <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>-->
                
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        
       <!-- <button>Send</button>-->

        </div> <!-- end chat-message -->
      
</div> <!-- end chat -->
    
</div> <!-- end container -->
<!--
 
  

-->
<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" ><%= current_teacher.name %></span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{messageOutput}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>

  
</script>

