<%#= @position.inspect %>
<div class="st-heading">
<h1>Companies list</h1>
<!--<h3>Tip: use the filters to make your search faster and easier </h3>-->
</div>

<div id="companies-list">
<table>
  <tr class="cl-title">
    <th>Name</th>
    <th>Available internship spots</th>
    <th>Internship position</th>
    <th>Industry</th>
    <th>Location</th>
  </tr>

<% @companies.each do |company| %>
    <tr>
        <td class="st-name"><%= link_to company.name, company %> </td>

        <% if company.available_spots.nil? %>
          <td> - </td>
        <% else %>
          <td> 
          <% @position=company.available_spots - company.students.count %>
          <% if @position>0 %>
          <%= @position %>
          <% else %> 
          <p> no more places left </p> 
          <% end %>
          </td>
        <% end %>   

        <td>
        <% if company.position.nil? %>
         - 
        <% else %>
        <%= company.position.name %>
        <% end %>
       </td>

        <td>
        <% if company.industry_id.nil? %>
         -
        <% else %>
         <%= company.industry.name %>  
        <% end %>  
      </td>

      <td>
        <% if company.city.empty? %>
         -
        <% else %>
         <%= company.city %>
        <% end %> 
        </td>
    </tr>

    <% end %>
</table>
</div>


