
<%= @position.inspect %>
<div class="st-heading">
<h1>Compamies list</h1>
<h3>Tip: use the filters to make your search faster and easier </h3>
</div>

<div id="students-list">
<table>
  <tr class="cl-title">
    <th>Name</th>
    <th>Available internship spots</th>
    <th>Position</th>
    <th>Industry</th>
    <th>Location</th>
  </tr>

<% @companies.each do |company| %>
    <tr>
        <td class="st-name"><%= link_to company.name, company %> </td>

        <% if company.available_spots.nil? %>
         <td> not defined yet </td>
        <% else %>
        <td> <%= company.available_spots %></td>
        <% end %>

    
       
        <%# if company.positions.nil? %>
        <!-- <td> not defined yet </td>-->
        <%# else %>
          <td> <%= @position.name %></td>
        <%# end %>

    

        <% if company.industry_id.nil? %>
         <td> not defined yet </td>
        <% else %>
          <td> <%= company.industry.name %></td>    
        <% end %>  


        <% if company.city.nil? %>
          <td> not city yet </td>
        <% else %>
         <td> <%= company.city %></td>
        <% end %>

        
    </tr>
    <% end %>
</table>
</div>


