<div class="st-heading">
<h1>Companies list</h1>
<!--<h3>Tip: use the filters to make your search faster and easier </h3>-->
</div>

<div id="companies-list">
<table>
  <tr class="cl-title">
    <th>Name</th>
    <th>Available internship spots</th>
    <th>Position</th>
    <th>Industry</th>
    <th>Location</th>
  </tr>

<% @companies.each do |company| %>
    <tr>
        <td class="st-name"><%= link_to company.name, company %> </td>

        <% if company.available_spots.nil? %>
          <td> - </td>
        <% else %>
          <td> <%= company.available_spots - company.students.count %></td>
        <% end %>


        <% company.position.each do |p| %>
          <% if p.name.empty? %>
            <td> - </td>
          <% else %>
            <td> <%= p.name %> </td>
          <% end %>
        <% end %> 

  
        <% if company.industry_id.nil? %>
         <td> - </td>
        <% else %>
        <td> <%= company.industry.name %> </td>    
        <% end %>  

        <% if company.city.empty? %>
          <td> - </td>
        <% else %>
         <td> <%= company.city %></td>
        <% end %> 
    </tr>

    <% end %>
</table>
</div>


