<p class="name"><%= @company.name %></p>
<p class="name"><%= @company.company_description %></p>
<p class="name"><%= @company.employees_number %></p>
<p class="name"><%= @company.website %></p>

<p class="name"><%= @company.available_spots %></p>
<p class="name"><%= @company.internship_description %></p>


<p class="spots"> <%= @company.available_spots %></p>
<p class="location"> <%= @company.company_address %></p>
