<div class="st-heading">
<h1>Company info</h1>
</div>

<div class="one-st"> 

<div class="info">

    <div class="personal">
        <% if @company.avatar.url(:medium).present? %>
        <%= image_tag("users.png", alt: "check mark", size: "100x100") %>
        <% else %>
        <p class="avatar"> <%= image_tag @company.avatar.url(:medium) %>
        <% end %>
        <p style="text-transform:capitalize"><%= @company.name %></p>

    </div>

        <div class="city">
        <h3>Location</h3>
            <p style="text-transform:capitalize"><%= @company.city %></p>
        </div>

        <div class="seats">
        <h3>Internship available seats</h3>
        <p style="text-transform:capitalize"><%= @company.available_spots %></p>
        </div>

        <div class="position">
        <h3>Internship position</h3>
        <p style="text-transform:capitalize"><%= @company.position.name %></p>
        </div>

        <div class="industry">
        <h3>Industry</h3>
        <p style="text-transform:capitalize"><%= @company.industry.name %></p>
        </div>

        <div class="website">
        <h3>Website</h3>
        <p style="text-transform:capitalize"><%= @company.website %></p>
        </div>

    </div>

    <div class="contact">
        <h3>Company description</h3>
        <p style="text-transform:capitalize"><%= @company.company_description %></p>

        <h3>Number of employees</h3>
        <p style="text-transform:capitalize"><%= @company.employees_number %></p>

        <h3>Internship description</h3>
        <p style="text-transform:capitalize"><%= @company.internship_description %></p>

        <h3>Number of previous interns</h3>
        <p style="text-transform:capitalize"><%= @allInterns %></p>

    <div class="apply">
        <a id="mail" class="btn" href="mailto:markus@vonobelitz.com">Apply now</a>
    </div>

    </div>

<% if company_user_signed_in? %>
<%= link_to "Edit company details", edit_company_path(@company) %>
<% end %>

</div> 
