<div class="st-heading">
<h1>Company profile</h1>
</div>

<div class="one-st"> 

<div class="info">

    <div class="personal">

        <p class="avatar">Profile picture: <%#= image_tag @teacher.avatar.url(:medium) %>
        <p style="text-transform:capitalize"><%= @company.name %></p>
        <p><%= @company.city%></p>

     </div>

</div>


</div>
</div> 


<p class="name"><%= @company.name %></p>
<p class="name"><%= @company.company_description %></p>
<p class="name"><%= @company.employees_number %></p>
<p class="name"><%= @company.website %></p>

<p class="name"><%= @company.available_spots %></p>
<p class="name"><%= @company.internship_description %></p>


<p class="spots"> <%= @company.available_spots %></p>
<p class="location"> <%= @company.company_address %></p>
