<div class="st-heading">
<h1>Company info</h1>
</div>

<div class="one-st"> 

<div class="info">

    <div class="personal">
        <% if @company.avatar.url(:medium).present? %>
        <%= image_tag("users.png", alt: "check mark", size: "100x100") %>
        <% else %>
        <p class="avatar"> <%= image_tag @company.avatar.url(:medium) %>
        <% end %>
        <h2 style="text-transform:capitalize"><%= @company.name %></h2>

    </div>

        <div class="city">
        <h3>Location</h3>
            <p style="text-transform:capitalize">
            <% if @company.city.empty? %>
            -
            <% else %>
                <%= @company.city %>
            <% end %>
            </p>
        </div>

        <div class="seats">
        <h3>Internship available seats</h3>
            <p style="text-transform:capitalize">
            <% if @company.available_spots.nil? %>
            -
            <% else %>
            <%= @company.available_spots %>
            <% end %>
        </p>
        </div>

        <div class="position">

        <h3>Internship position</h3>

        <p style="text-transform:capitalize">
        <% if @position.nil? %>
        -
        <% else %>
        <%= @position %>
        <%end%>

        </p>
        </div>

        <div class="industry">
        <h3>Industry</h3>
        <p style="text-transform:capitalize">
        <% if @company.industry.name.empty? %>
        -
        <% else %>
        <%= @company.industry.name %>
        <% end %>
        </p>
        </div>

        <div class="website">
        <h3>Website</h3>
        <p style="text-transform:capitalize">
        <% if @company.website.empty? %>
        - 
        <% else %>
        <%= @company.website %>
        <% end %>
        </p>
        </div>

    </div>

    <div class="contact">
        <h3>Company description</h3>
        <p style="text-transform:capitalize">
        <% if @company.company_description.nil? %>
        -
        <% else %>
        <%= @company.company_description %>
        <% end %>
        </p>

        <h3>Number of employees</h3>
        <p style="text-transform:capitalize">
        <% if @company.employees_number.nil? %>
        - 
        <% else %>
        <%= @company.employees_number %>
        <% end %>
        </p>

        <h3>Internship description</h3>
        <p style="text-transform:capitalize">
        <% if @company.internship_description.nil? %>
        -
        <% else %>
        <%= @company.internship_description %>
        <% end %>
        </p>

        <h3>Number of previous interns</h3>
        <p style="text-transform:capitalize"><%= @allInterns %></p>

<% if student_signed_in? %>
    <div class="apply">
        <a id="mail" class="btn" href="mailto:company@email.com">Apply now</a>
    </div>
<% end %>
    </div>

</div> 

<div class="comp-btn">
<% if company_user_signed_in? %>
<%= link_to "Edit company details", edit_company_path(@company), class:"btn-comp"  %>
<% end %>
<div>