<div class="st-heading">
<h1>My profile</h1>
</div>

<% if teacher_signed_in? && current_teacher.specialization.nil? %>
<h2>You need to update your profile first</h2>
<% end %><br>

<div class="one-st"> 

<div class="info">

    <div class="personal">
        <div class="avatar"><%= image_tag current_teacher.avatar.url(:medium) %></div>
        
        <div class="name">
         <h3>Name</h3>
         <p style="text-transform:capitalize"><%= current_teacher.name %></p>
        </div>

        <div class="email">
         <h3>Email</h3>
         <p><%= current_teacher.email %></p>
        </div>

     </div>

    <div class="uni">
    <h3>University</h3>
        <p style="text-transform:capitalize">KEA</p>
    </div>

    <div class="pro">
    <h3>Programme</h3>
    <p style="text-transform:capitalize"><%= current_teacher.specialization %></p>

    </div>
</div>


</div>
<%= link_to 'Edit profile', edit_teacher_path(current_teacher), :class => "editBtn" %>

</div> 

